<div class="hp webpage">
	<div class="content-column">
		<h1 class="center highlight">Discord Wordle Bot</h1>
		<p class="accent lead">A bot showing Wordle stats of the members in a discord channel.</p>
		<p>I'm a sucker for Wordle, so I created a bot that tracks the Wordle stats of the people who play Wordle in our discord channel. It provides a fun way to engage players, and make the game more competitive.</p>
		<p>The bot reads the messages, posted by the Wordle game, in the channel and keeps track of:
			<ul>
				<li><span class="highlight">Games played</span></li>
				<li><span class="highlight">Games lost</span></li>
				<li><span class="highlight">Average guess amount</span></li>
				<li><span class="highlight">Amount of games resulting in 1 guess, 2 guesses, etc.</span></li>
			</ul>
			It tracks every players' stats, and provides a leaderboard showing the best players in the channel.
		</p>
		<p>I couldn't find a bullet-proof way to host the bot for free, without having to run it on my machine 24/7, so I ended up with a version that requires me to run it manually. But it does remember the stats and can read up to 500 missed Wordle messages, so the chances of it not being up-to-date is tiny.</p>
		<p>Check the repo: <a href="https://github.com/Turbonalle/discord-wordle-bot" target="_blank">Discord Wordle Bot</a></p>
	</div>
</div>