<div class="hp project-page">
	<div class="box">
		<div class="column game-media">
			<div class="image-container">
				<img id="oozeheart-image" src="media/media_oozeheart/titlescreen.png" alt="Main Image">
			</div>
			<div class="thumbnail-container">
				<img class="thumbnail active" src="media/media_oozeheart/titlescreen.png" alt="Thumbnail 1" onclick="changeOozeheartImage(this)">
				<img class="thumbnail" src="media/media_oozeheart/depth1.png" alt="Thumbnail 2" onclick="changeOozeheartImage(this)">
				<img class="thumbnail" src="media/media_oozeheart/depth1level1.png" alt="Thumbnail 3" onclick="changeOozeheartImage(this)">
			</div>
		</div>
		<div class="column game-info">
			<div class="game-title title-image">
				<img src="OozeHeart.png" alt="Game Title">
			</div>
			<div class="game-text">
				<p>Deep beneath the earth, humanity has uncovered a vast, ancient cavern filled with glowing, mystical resources unlike anything seen before. Your job is to excavate these resources and try to get as deep into the cave as possible. But beware, unknown creatures are lurking in the depths.<br>Descend. Defend. Survive.</p>
				<!-- <p>Descend. Defend. Survive.</p> -->
				<p>This is a tower defense game with a mining twist. Place towers like in any tower defense, but mine resources in order to unlock features and improvements.</p>
				<p>The game is written in C++, using SFML. It's still a work in progress.</p>
			</div>
		</div>
	</div>
</div>