<div class="hp project-page">
	<div class="box">
		<div class="column game-media">
			<!-- Game images, like in steam -->
			<div class="image-container">
				<img id="pong-image" src="media_pong/pong_2v2_wavepowerup.png" alt="Main Image">
			</div>
			<div class="thumbnail-container">
				<img class="thumbnail active" src="media_pong/pong_2v2_wavepowerup.png" alt="Thumbnail 1" onclick="changePongImage(this)">
				<img class="thumbnail" src="media_pong/pong_2v2_walllight.png" alt="Thumbnail 2" onclick="changePongImage(this)">
				<img class="thumbnail" src="media_pong/pong_4v4_boost_light_powerup.png" alt="Thumbnail 3" onclick="changePongImage(this)">
				<img class="thumbnail" src="media_pong/pong_home.png" alt="Thumbnail 4" onclick="changePongImage(this)">
				<img class="thumbnail" src="media_pong/pong_credits.png" alt="Thumbnail 5" onclick="changePongImage(this)">
			</div>
		</div>
		<div class="column game-info">
			<div class="game-title">
				<h1>Pong</h1>
			</div>
			<div class="game-text">
				<p>
					<span class="accent lead">The famous pong game visualized in 3D.</span>
				</p>
				<p>Play against your friend(s) or an AI. Play either the classic 1v1 or a 4-player rumble. Play normal mode or get crazy with powerups. The choice is yours!</p>
				<p>This was our final school group project, where we were supposed to create a website where people could log in and play against each other. I was mainly in charge of creating the actual game, using Three.js to create the stunning 3D world.</p>
				<p>Instructions and download on this Github repo.</p>
			</div>
		</div>
	</div>
</div>