<div class="hp webpage webpages">
	<svg class="icon-bg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
		<rect width="18" height="18" x="3" y="3" rx="2"/>
		<path d="M3 9h18"/>
	</svg>
	<div class="webpages-container info-container">
		<h1>Web Pages</h1>
		<p>The best reason to create a web page is when someone has a need for it. Since I work in school, I've noticed a huge need of a set of educational web pages and tools for teachers, which has inspired me to make some of my pages.</p>
	</div>
</div>