
<div class="hp webpage">
	<div class="content-column">
		<h1 class="center highlight">Wordle Solver</h1>
		<p class="accent">Your helping hand when solving Wordle.</p>
		<p>If you've ever had a hard time coming up with words in Wordle, this tool is for you! Simply input known letters, both the correctly placed and misplaced ones, and also letters that are not included in the word, and this tool will spit out all the possible words that fit the criteria.
		</p>
		<p>This is a very basic project, but with almost 15 thousand words, the challenges I encountered was:
			<ul>
				<li><span class="highlight">filtering words based on the criteria</span></li>
				<li><span class="highlight">efficiently creating a list of all possible words</span></li>
			</ul>
		</p>
		<p>I also added a little update log on the side, just for fun.</p>
		<p>Try it out here: <a href="https://turbonalle.github.io/wordle-solver/" target="_blank">Wordle Solver</a></p>
		
	</div>
</div>

