<div class="hp webpage">
	<div class="content-column">
		<h1 class="center highlight">Wordsearch Generator</h1>
		<p class="accent">Ever played a wordsearch? Why not customize your own in a minute?</p>
		<p>The idea for this project came from work, after seeing a teacher painstakingly filling out every cell with a text-box, filling every text-box with a letter. I wanted to make something that would make the process easier and faster.</p>
		<p>Features:
			<ul>
				<li><span class="highlight">customizable words</span></li>
				<li><span class="highlight">customizable grid size</span></li>
				<li><span class="highlight">customizable title</span></li>
				<li><span class="highlight">language selection</span> for letter inclusion</li>
				<li><span class="highlight">customizable directions</span></li>
				<li><span class="highlight">overlap toggle</span></li>
				<li><span class="highlight">solution toggle</span></li>
				<li><span class="highlight">product view</span></li>
				<li><span class="highlight">print</span></li>
				<li><span class="highlight">download</span></li>
			</ul>
		</p>
		<p>This was a fun project with some challenges with the grid layout and logic.</p>
		<p>Try it out with the link below!</p>
		<a href="/teachers_tools/wordsearch_generator/index.html" target="_blank">Wordsearch Generator</a>
	</div>
</div>