<div class="vertical-page profile active">
	<img src="media/profile/scribble.png" id="bg-scribble" alt="profile">
	<img src="media/profile/guy.png" id="bg-guy" alt="profile">
	<img src="media/profile/name.png" id="bg-name" alt="profile">
	<div class="profile-container">
		<div class="welcome-text">
			<h1>Jonathan Bagger</h1>
			<p>
				<span class="accent lead">Welcome to my portfolio page.</span>
			</p>
			<p>I'm a programmer, coding teacher, educational assistant, sports instructor and a father.</p>
			<p>I love staying fit and creating things.</p>
			<p>
				<span class="highlight">Scroll</span>, 
				<span class="highlight">swipe</span> or 
				<span class="highlight">click</span> icons or arrow keys to look around.
			</p>
		</div>
	</div>
</div>