<div class="vertical-page">
	<div class="info-page">
		<svg class="icon-bg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			<path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/>
			<circle cx="12" cy="7" r="4"/>
		</svg>
		<div class="info-container">
			<h1>Skills</h1>
			<p class="mb-0">Languages:</p>
			<ul>
				<li><span class="highlight">C</span></li>
				<li><span class="highlight">C++</span></li>
				<li><span class="highlight">JavaScript</span></li>
				<li><span class="highlight">TypeScript</span></li>
				<li><span class="highlight">Python</span></li>
				<li><span class="highlight">C#</span></li>
			</ul>
			<p class="mb-0">Technologies:</p>
			<ul>
				<li><span class="highlight">Git</span></li>
				<li><span class="highlight">Node.js</span></li>
				<li><span class="highlight">React</span></li>
				<li><span class="highlight">Tailwind</span></li>
				<li><span class="highlight">Bootstrap</span></li>
				<li><span class="highlight">Three.js</span></li>
				<li><span class="highlight">Docker</span></li>
			</ul>
			<p class="mb-0">Software:</p>
			<ul>
				<li><span class="highlight">Unity</span></li>
				<li><span class="highlight">Godot</span></li>
				<li><span class="highlight">Blender</span></li>
				<li><span class="highlight">VSCode</span></li>
				<li><span class="highlight">Visual Studio</span></li>
			</ul>
		</div>
	</div>
</div>