body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	touch-action: none; /* To control touch behavior if needed */
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: var(--color-text);
	font-size: clamp(11px, 1.2vw, 16px);
}

.full-page {
	height: 100vh;
	width: 100vw;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-snap-stop: always;
	-webkit-overflow-scrolling: touch;
}

.vertical-page {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	position: relative;
	overflow: hidden;
}

.vertical-page .horizontal-pages {
	display: flex;
	height: 100%;
	width: 100%;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-snap-stop: always;
}

.hp {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 100vw;
	height: 100%;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	box-sizing: border-box;
	overflow: hidden;
}

.info-container {
	width: calc(min(90%, 500px));
	height: 80%;
	text-align: start;
	z-index: 1;
}

.info-container h1 {
	color: var(--color-accent);
}

.icon-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	color: rgb(78, 131, 76);
	filter: brightness(10%);
	z-index: 0;
}

.content-column {
	width: calc(min(90%, 700px));
	height: 80%;
}

.full-page, .horizontal-pages {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}

.full-page::-webkit-scrollbar,
.horizontal-pages::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

h1 {
	font-size: 3rem;
	margin-top: 0px;
}

.mb-0 {
	margin-bottom: 0px;
}

ul {
	margin-top: 8px;
	padding-left: 35px;
}

a {
	color: var(--color-highlight);
}

a:hover {
	color: var(--color-accent);
}

.center {
	text-align: center;
}

.pt-1 {
	padding-top: 0px;
}

.hidden {
	display: none;
}