/*----------------------------------------------------------------------------*/
/*  Dots                                                                      */
/*----------------------------------------------------------------------------*/

.dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}

.dot {
    width: 25px;
    height: 25px;
    background: var(--color-dot-empty);
    border-radius: 50%;
    transition: background 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.dot.active {
    background: var(--color-dot-filled);
    box-shadow: 0px 0px 8px var(--color-dot-glow);
}