/*----------------------------------------------------------------------------*/
/*  Info                                                                      */
/*----------------------------------------------------------------------------*/

.info-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container {
	width: 250px;
	height: 70vh;
	text-align: center;
	z-index: 1;
}

.info-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	color: rgb(78, 131, 76);
	filter: brightness(10%);
	z-index: 0;
}

.info-container h1 {
	color: var(--color-accent);
}