@media (max-width: 1350px) {
	.profile-container {
		width: 80%;
	}
}

@media (max-width: 1024px) {
	.profile-container {
		width: 90%;
	}

}

@media (max-width: 920px) {
	#bg-name {
		right: -150px;
	}
}

@media (max-width: 768px) {
	body {
		font-size: 14px;
	}

	.nav-bar {
		gap: 20px;
	}

	h1 {
		font-size: 30px;
	}

	ul {
		margin-top: 4px;
		padding-left: 25px;
	}

	.profile-container {
		width: 90%;
	}

	.welcome-text {
		width: 100%;
		text-align: center;
	}

	.content-column {
		width: 90%;
	}

	#bg-guy {
		position: absolute;
		left: -60px;
		transform: scale(0.7);
		transform-origin: left bottom;
	}

	#bg-name {
		position: absolute;
		right: -60px;
		transform: scale(0.6);
		transform-origin: right bottom;
	}

	.box {
		flex-direction: column-reverse;
	}

	.game-media {
		width: 100%;
	}

	.game-info {
		width: 100%;
		right: 0;
	}

	.game-title h1 {
		margin: 0;
		padding: 0;
	}
}


@media (max-width: 480px) {
	body {
		font-size: 12px;
	}
	
	.profile-container {
		width: 90%;
	}
}