@media (max-width: 768px) {
	body {
		font-size: 11px;
	}

	.nav-bar {
		gap: 20px;
	}

	h1 {
		font-size: 30px;
	}

	.profile-container {
		width: 90%;
	}

	.welcome-text {
		width: 100%;
		text-align: center;
	}

	.content-column {
		width: 90%;
	}

	.box {
		flex-direction: column-reverse;
	}

	.game-media {
		width: 100%;
	}

	.game-info {
		width: 100%;
	}

	.game-title h1 {
		margin: 0;
		padding: 0;
	}
}