/*----------------------------------------------------------------------------*/
/*  Projects                                                                  */
/*----------------------------------------------------------------------------*/

.horizontal-pages {
    display: flex;
    width: 400%; /* Adjust based on number of horizontal pages */
    transition: transform 0.3s ease-in-out;
}

.project-page {
	position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 0.7em; */
}

.info-container {
	width: 250px;
	height: 70vh;
	text-align: center;
	z-index: 1;
}

.info-container h1 {
	color: var(--color-accent);
}

.icon-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	color: rgb(78, 131, 76);
	filter: brightness(10%);
	z-index: 0;
}

.box {
	width: 80%;
	height: 70%;
	display: flex;
	flex-direction: row;
}

.column {
	width: 100%;
	height: 100%;
}

.game-media {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	filter: brightness(90%);
}

.game-info {
	width: 40%;
	color: var(--color-text);
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.game-title {
	display: flex;
	width: 100%;
	height: auto;
	justify-content: left;
	align-items: center;
	padding-left: 20px;
	color: var(--color-highlight);
}

.title-image {
	padding-left: 0;
}

.game-title img {
	width: 100%;
	height: auto;
	display: block;
}

.game-text {
	padding: 0px 20px 20px 20px;
}


/*----------------------------------------------------------------------------*/
/*  Project media                                                             */
/*----------------------------------------------------------------------------*/

.game-media {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: flex-start;
    gap: 10px;
}

.image-container {
	width: fit-content;
    overflow: hidden;
    border-radius: 0px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 10px; */
}

.thumbnail-container {
    display: flex;
	height: 15%;
	width: 100%;
    gap: 5px;
    justify-content: center;
	align-items: flex-start;
	/* border: 2px solid var(--color-highlight); */
}

.thumbnail {
    /* height: 80%; */
	max-width: 15%;
	max-height: 80%;
	height: auto;
    object-fit: cover;
    cursor: pointer;
    /* border-radius: 5px; */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
}

.thumbnail.active {
    outline: 3px solid var(--color-highlight);
}